fastapi
uvicorn[standard] # For running the FastAPI server
python-dotenv     # For loading .env files
jinja2            # If you want to serve HTML templates directly from FastAPI (optional, but good to know)
beeai-framework 
chromadb
pandas
sentence-transformers
openpyxl

openinference-instrumentation-beeai
openlit
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
dotenv